<section id="news">
    <h3>Recent News</h3>
    <table>
        {% for article in news_list %}
            <tr class="{{ cycle(['white', 'grey'], loop.index0) }}">
                <td>
                    <h4><a href="#news_{{ article.id }}.html">{{ article.title }}</a></h4>
                    <span class="date">{{ article.date|date('m/d/Y') }}</span>
                    <span class="lead">{{ article.lead }}</span>
                                        <span class="tags">
                                            Tags:
                                            {% for tag in article.tags %}
                                                <span>{{ tag }}{% if not loop.last %}, {% else %}.{% endif %}</span>
                                            {% endfor %}
                                        </span>
                    <span>Comments ({{ article.comments_count }})</span>
                </td>
            </tr>
        {% endfor %}
    </table>
</section>