<!doctype html>
{% spaceless %}
<html>
<head>
    <meta charset="utf-8">
    <title>{{ shop_name|title }}</title>
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
<div id="layout">

<header>
    <h2>{{ shop_name|title }}</h2>
    <br/>
    <nav>
        <ul>
            {% for menu_item in menu_list %}
                <li{% if menu_item.current %} class="current"{% endif %}>
                    <a href="{{ menu_item.url }}">
                        {% if menu_item.current %}
                            <b>{{ menu_item.name|capitalize }}</b>
                        {% else %}
                            {{ menu_item.name|capitalize }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}

        </ul>
    </nav>
</header>

<section id="tizers">
    <table>
        <tr>
            {% for tizer in tizer_list %}
                <td>
                    <a href="{{ tizer.url }}">{{ tizer.text }}</a>
                </td>
            {% endfor %}
        </tr>
    </table>
</section>

<hr/>

<main>
    <table>
        <tr>
            <td id="left">

                <section id="vendors">
                    <h4>Vendors:</h4>
                    <ul>
                        {% for vendor in vendor_list %}
                            <li{% if vendor.id == good.vendor.id %} class="current"{% endif %}><a href="#vendor_{{ vendor.id }}.html">{{ vendor.name }}</a></li>
                        {% endfor %}
                    </ul>
                </section>

                <br/>
                <br/>

                <section id="online">
                    <h4>Online users ({{ online.count }}):</h4>
                    {% for user in online.users %}
                        <span><a href="#profile/user.html?id={{ user.0 }}">{{ user.1 }}</a>{% if not loop.last %}, {% else %}.{% endif %}</span>
                    {% endfor %}
                </section>

            </td>
            <td id="center">

                {% set title = good.vendor.name ~ " " ~ good.name %}

                <h1>{{ title }} {% if good.model %}({{ good.model }}){% endif %}</h1>
                <span>
                    <b>Color:</b> {{ good.color }}, <b>Warranty:</b> {{ good.warranty }}, <b>Country:</b> {{ good.country }}
                </span>

                <br/>
                <br/>

                <table id="good_layout">
                    <tr>
                        <td>

                            <section id="good_image">
                                <div id="good_image_main">
                                    <img src="{{ good.images.0 }}" alt=""/>
                                </div>
                                <div id="good_image_list">
                                    {% for image in good.images %}
                                        {% if not loop.first %}
                                            <a href="#{{ loop.counter }}"><img src="{{ image }}" alt=""/></a>
                                        {% endif %}
                                    {% endfor %}
                                    <div style="clear: both"></div>
                                </div>
                            </section>

                            <br/>
                            <br/>

                            <section id="models">
                                <b>Other models</b>
                                <ul>
                                    {% for model in good.model_list %}
                                        <li><a href="{{ model.url }}">{{ model.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </section>

                        </td>
                        <td>

                            <section id="price">
                                <b>Price:</b> ${{ good.price }} (<s>${{ good.price_old }}</s>) <button>Buy</button>
                            </section>

                            <br/>
                            <br/>

                            <section id="details">
                                <h3>Details</h3>
                                <br/>
                                <ul>
                                    {% for detail in good.short_details %}
                                        <li>{{ detail }}</li>
                                    {% endfor %}
                                </ul>
                            </section>

                            <br/>

                            <section id="tech_spec">
                                <h3>Tech spec:</h3>
                                <table>
                                    {% for property in good.props %}
                                        <tr>
                                            {% if property.type == 'category' %}
                                                <td colspan="2" class="category"><b>{{ property.value|title }}</b></td>
                                            {% elseif property.type == 'bool' %}
                                                <td>{{ property.name|title }}</td>
                                                <td>{% if property.value %}Yes{% else %}No{% endif %}</td>
                                            {% elseif property.type == 'string' %}
                                                <td>{{ property.name|title }}</td>
                                                <td>{{ property.value }}</td>
                                            {% elseif property.type == 'list' %}
                                                <td>{{ property.name|title }}</td>
                                                <td>
                                                    {% for value in property.value %}
                                                        {{value }}{% if not loop.last %},{% else %}.{% endif %}
                                                    {% endfor %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </section>

                        </td>
                    </tr>
                </table>

                <br/>

                <section id="comments">
                    <h2>Comments ({{ comments.count }})</h2>
                    <br/>
                    <ul>
                        {% for comment in comments.list %}
                            <li>
                                <b>{{ comment.user }}</b>, <span class="date">{{ comment.date|date('m/d/Y') }}</span>
                                <p>
                                    {{ comment.text }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </section>

            </td>
            <td id="right">

                <section id="blog">
                    <h3>Blog</h3>
                    <br/>
                    <ul>
                        {% for post in blog_posts %}
                            <li>{{ post.date|date('m/d/Y') }} <br/> <a href="#blog_{{ post.id }}.html">{{ post.title }}</a></li>
                            <br/>
                        {% endfor %}
                    </ul>
                </section>

                <br/>

                <section id="news">
                    <h3>Recent News</h3>
                    <table>
                        {% for article in news_list %}
                            <tr class="{{ cycle(['white', 'grey'], loop.index0) }}">
                                <td>
                                    <h4><a href="#news_{{ article.id }}.html">{{ article.title }}</a></h4>
                                    <span class="date">{{ article.date|date('m/d/Y') }}</span>
                                    <span class="lead">{{ article.lead }}</span>
                                        <span class="tags">
                                            Tags:
                                            {% for tag in article.tags %}
                                                <span>{{ tag }}{% if not loop.last %}, {% else %}.{% endif %}</span>
                                            {% endfor %}
                                        </span>
                                    <span>Comments ({{ article.comments_count }})</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </section>

            </td>
        </tr>
    </table>
</main>

<footer>
    <h5>&copy; {{ shop_name }}</h5>
    <nav>
        <ul>
            {% for menu_item in menu_list %}
                <li{% if menu_item.current %} class="current"{% endif %}>
                    <a href="{{ menu_item.url}}">
                        {% if menu_item.current %}
                            <b>{{ menu_item.name|title }}</b>
                        {% else %}
                            {{ menu_item.name|title }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

</footer>

</div>
</body>
</html>
{% endspaceless %}